body {
  margin: 0;
  min-height: 100vh;
  
  background: linear-gradient(#13002D, #000017);
}
.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 300px;
}

.logo {
  width: 120px;
  height: 120px;
}
  
.title {
  text-align: center;
  font-size: 50px;
  color: white;
}
.subtitleSlogan {
  text-align: center;
  font-size: 50px;
  color: white;
}
